build
framework/include
framework/lua
framework/lib
Torch.framework

ios_examples/XOR_Example/XOR_Example.xcodeproj/xcuserdata/woffle_laptop.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ios_examples/XOR_Example/XOR_Example.xcodeproj/xcuserdata/woffle_laptop.xcuserdatad/xcschemes/XOR_Example.xcscheme

ios_examples/XOR_Example/XOR_Example.xcodeproj/project.xcworkspace/xcuserdata/woffle_laptop.xcuserdatad/UserInterfaceState.xcuserstate

ios_lua_scripts/XOR_Example_Scripts/xor_model.net
